<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Home</title>
	<link rel="stylesheet"
	      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	      crossorigin="anonymous">
</head>
<body>
<h3 th:inline="text">Hello [[${username}]]!</h3>

<form th:action="@{'/users/' + ${userId} + '/orders'}" method="GET" class="pt-3">
	<button class="btn btn-primary" type="submit"/>
	Look at your orders</button>
</form>
<table th:if="${lookAtTable == true}" class="table table-striped table-responsive-md">
	<thead>
	<tr>
		<td>ID</td>
		<td>Was placed at</td>
		<td>Certificates Associated</td>
		<td>Cost</td>
	</tr>
	</thead>
	<tbody>
	<tr th:each="order : ${orderList}}">
		<td th:text="${order.id}"></td>
		<td th:text="${order.timestamp}"></td>
		<td th:text="${order.certificates}"></td>
		<td th:text="${order.cost}"></td>
	</tr>
	</tbody>
</table>

<form th:action="@{/logout}" method="post" class="pt-2">
	<button class="btn btn-danger" type="submit"/>
	Log out</button>
</form>

</body>
</html>